/* Write your CSS here */
.order-total {
  color: #616e7c;
  font-weight: 500;
}
.order-total-price {
  color: #171f46;
}
.items-p {
  color: #616e7c;
}
.checkout-btn {
  background-color: #0b69ff;
  height: 40px;
  border-style: none;
  color: #ffffff;
  width: 100%;
}
.cart-summary {
  width: fit-content;
}
